h2 {
    text-align: center;
    color:whitesmoke;
}
h4, h6{ 
    text-align: center;
}
 .home{
    background-image:  url("https://i.imgur.com/i0aEdpH.jpg");
    background-size: cover;
    border-radius: 2px;
    border: 2px solid purple;
}
.info {
    background-image:  url("https://i.imgur.com/CHC3Jkk.jpg");
    border-radius: 2px;
}
.App {
    border: 7px solid black;
    border-radius: 8px;
}
.title {
background-color:black;
}
.logoutButton {
    text-align: right;
}